<%= form_for(@pin) do |f| %>
<form role="form"  >
  <% if @pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% @pin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" style="text-align:center">
    <label for="exampleInputEmail1">Pin Description</label>
    <br>
    <input type="pin" class="form-control" id="exampleInputEmail1" placeholder="Enter Pin" style="text-align:center;" >    
    
  </div>
  <div class="actions" style="text-align:center">
    <%= f.submit %>
  </div>
</form>
<% end %>
